﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BankOneService.aspx.cs" Inherits="HttpJavaClient_BankOneService" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head id="Head1" runat="server"><title></title></head><body></body></html>