﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BankOneImageUploadService.aspx.cs" Inherits="HttpJavaClient_BankOneImageUploadService" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head runat="server"><title></title></head><body></body></html>
