﻿<%@ Page Title="" Debug="true" Language="C#" MasterPageFile="~/BankOneMobileMasterPage.master" AutoEventWireup="true" CodeFile="BankOneService_Old.aspx.cs" Inherits="HttpJavaClient_BankOneService"  ViewStateMode="Disabled"%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>