﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BankOneMobileMasterPage.master" AutoEventWireup="true" CodeFile="ViewMFBBankAccount.aspx.cs" Inherits="MobileAccountManagement_ViewMFBBankAccount" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

