﻿<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    string[] validNos =
    {
        "+2348034730365",
        "+2348023914184",
        "+2348034730365",
        "+2348034730365",
        "+2348034730365",
        "+2348034730365",
        "+2348034730365",
    };

    protected override void OnLoad(EventArgs e)
    {
        base.OnLoad(e);
        if (!String.IsNullOrEmpty(Request.QueryString["caller"]))
        {
            string standardPhoneNo = Request.QueryString["caller"].StartsWith("+") ? Request.QueryString["caller"] : "+234" + Request.QueryString["caller"];
            if (validNos.Contains(standardPhoneNo))
            {
                new BankOneMobile.InfoBip.USSD.UssdManager().StartSession(standardPhoneNo, "BankOneMobile");
                System.Threading.Thread.Sleep(2000);
                Response.Write("1");
                Response.End();
            }
            
        }
        Response.Write("0");
        Response.End();
    }

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
