﻿<%@ page title="" language="C#" masterpagefile="~/BankOneMobileMasterPage.master" autoeventwireup="true" inherits="MobileAccountManagement_BatchAccountsLinking, App_Web_pqsoczkm" %>
<%@ Register assembly="AppZoneUI.Framework" namespace="AppZoneUI.Framework" tagprefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <cc1:EntityUIControl ID="EntityUIControl1" runat="server" 
         UIType="BankOneMobile.UI.UI.MobileAccountUI.BatchMobileAccountLinkingUI,BankOneMobile.UI">
    </cc1:EntityUIControl>
</asp:Content>

