﻿<%@ page title="" language="C#" masterpagefile="~/BankOneMobileMasterPage.master" autoeventwireup="true" inherits="MobileAccountManagement_ViewMFBBankAccount, App_Web_pqsoczkm" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

