div, p {
font-family: Verdana, Arial, sans-serif;
}

.input
{
    border-left:5px solid #6B869F !important;
}
.form-control {
  display: block;
  /*height: 23px;*/
  padding-left:3px;
  border-left:5px solid #6B869F !important;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-alert {
  display: block;
  height: 17px;
  padding-left:3px;
  border-left:5px solid red !important;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
    .form-control:focus {
        border-left: 5px solid #eb403c !important;
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
    select:focus {
        border-left: 5px solid #eb403c !important;
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
fieldset {
    border: 1px solid #ddd;
    margin: 1em;
    background:#fefbfb;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid rgba(0, 0, 0, .075);
  color:#555;
  font-size:90%;
  text-align:left;
  background:#fefbfb;
  }
p.content {
font-size: 12px;
width: 30em;
}

div#help {
font-size: 12px;
width: 45em;
padding: 1em;
}

div#timemap {
padding:1em;
}

div#timelinecontainer{
width: 100%;
height: 200px;
}

div#timeline{
 width: 100%;
 height: 100%;
 font-size: 12px;
 background: #CCCCCC;
}

div#mapcontainer {
 width: 100%;
 height: 450px;
}

div#map {
 width: 100%;
 height: 100%;
 background: #EEEEEE;
}

div.infotitle {
    font-size: 14px;
    font-weight: bold;
}
div.infodescription {
    font-size: 14px;
    font-style: italic;
}

div.custominfostyle {
    font-family: Georgia, Garamond, serif;
    font-size: 1.5em;
    font-style: italic;
    width: 20em;
}

/*****************************
Loader
*****************************/
.loading-container {
  position:fixed;
  background-color:#f9f9f9;
  z-index:15;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  cursor:wait;
}

.cssload-box-loading {
	width: 35px;
	height: 35px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.cssload-box-loading:before {
	content: '';
	width: 35px;
	height: 3px;
	background: rgb(0,0,0);
	opacity: 0.1;
	position: absolute;
	top: 41px;
	left: 0;
	border-radius: 50%;
	animation: shadow 0.58s linear infinite;
		-o-animation: shadow 0.58s linear infinite;
		-ms-animation: shadow 0.58s linear infinite;
		-webkit-animation: shadow 0.58s linear infinite;
		-moz-animation: shadow 0.58s linear infinite;
}
.cssload-box-loading:after {
	content: '';
	width: 35px;
	height: 35px;
	background: rgb(217,63,63);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
	animation: cssload-animate 0.58s linear infinite;
		-o-animation: cssload-animate 0.58s linear infinite;
		-ms-animation: cssload-animate 0.58s linear infinite;
		-webkit-animation: cssload-animate 0.58s linear infinite;
		-moz-animation: cssload-animate 0.58s linear infinite;
}

.cssload-wrap {
	text-align: center;
	line-height: 160px;
    margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
	
.cssload-container {
	display: inline-block;
}

.cssload-dots {
	display: inline-block;
	position: relative;
}
.cssload-dots:not(:last-child) {
	margin-right: 7px;
}
.cssload-dots:before, .cssload-dots:after {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
}
.cssload-dots:nth-child(1):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -0.855s;
		-o-animation-delay: -0.855s;
		-ms-animation-delay: -0.855s;
		-webkit-animation-delay: -0.855s;
		-moz-animation-delay: -0.855s;
	background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(1):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -0.855s;
		-o-animation-delay: -0.855s;
		-ms-animation-delay: -0.855s;
		-webkit-animation-delay: -0.855s;
		-moz-animation-delay: -0.855s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(2):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -1.71s;
		-o-animation-delay: -1.71s;
		-ms-animation-delay: -1.71s;
		-webkit-animation-delay: -1.71s;
		-moz-animation-delay: -1.71s;
	background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(2):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -1.71s;
		-o-animation-delay: -1.71s;
		-ms-animation-delay: -1.71s;
		-webkit-animation-delay: -1.71s;
		-moz-animation-delay: -1.71s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(3):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -2.565s;
		-o-animation-delay: -2.565s;
		-ms-animation-delay: -2.565s;
		-webkit-animation-delay: -2.565s;
		-moz-animation-delay: -2.565s;
	background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(3):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -2.565s;
		-o-animation-delay: -2.565s;
		-ms-animation-delay: -2.565s;
		-webkit-animation-delay: -2.565s;
		-moz-animation-delay: -2.565s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(4):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -3.42s;
		-o-animation-delay: -3.42s;
		-ms-animation-delay: -3.42s;
		-webkit-animation-delay: -3.42s;
		-moz-animation-delay: -3.42s;
	background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(4):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -3.42s;
		-o-animation-delay: -3.42s;
		-ms-animation-delay: -3.42s;
		-webkit-animation-delay: -3.42s;
		-moz-animation-delay: -3.42s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(5):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -4.275s;
		-o-animation-delay: -4.275s;
		-ms-animation-delay: -4.275s;
		-webkit-animation-delay: -4.275s;
		-moz-animation-delay: -4.275s;
	background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(5):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -4.275s;
		-o-animation-delay: -4.275s;
		-ms-animation-delay: -4.275s;
		-webkit-animation-delay: -4.275s;
		-moz-animation-delay: -4.275s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(6):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -5.13s;
		-o-animation-delay: -5.13s;
		-ms-animation-delay: -5.13s;
		-webkit-animation-delay: -5.13s;
		-moz-animation-delay: -5.13s;
	background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(6):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -5.13s;
		-o-animation-delay: -5.13s;
		-ms-animation-delay: -5.13s;
		-webkit-animation-delay: -5.13s;
		-moz-animation-delay: -5.13s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(7):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -5.985s;
		-o-animation-delay: -5.985s;
		-ms-animation-delay: -5.985s;
		-webkit-animation-delay: -5.985s;
		-moz-animation-delay: -5.985s;
	background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(7):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -5.985s;
		-o-animation-delay: -5.985s;
		-ms-animation-delay: -5.985s;
		-webkit-animation-delay: -5.985s;
		-moz-animation-delay: -5.985s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(8):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -6.84s;
		-o-animation-delay: -6.84s;
		-ms-animation-delay: -6.84s;
		-webkit-animation-delay: -6.84s;
		-moz-animation-delay: -6.84s;
	background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(8):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -6.84s;
		-o-animation-delay: -6.84s;
		-ms-animation-delay: -6.84s;
		-webkit-animation-delay: -6.84s;
		-moz-animation-delay: -6.84s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(9):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -7.695s;
		-o-animation-delay: -7.695s;
		-ms-animation-delay: -7.695s;
		-webkit-animation-delay: -7.695s;
		-moz-animation-delay: -7.695s;
	background-color: #F00;
}
.cssload-dots:nth-child(9):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -7.695s;
		-o-animation-delay: -7.695s;
		-ms-animation-delay: -7.695s;
		-webkit-animation-delay: -7.695s;
		-moz-animation-delay: -7.695s;
	background-color: #777;
}
.cssload-dots:nth-child(10):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 0.95s linear infinite;
		-o-animation: cssload-animBefore 0.95s linear infinite;
		-ms-animation: cssload-animBefore 0.95s linear infinite;
		-webkit-animation: cssload-animBefore 0.95s linear infinite;
		-moz-animation: cssload-animBefore 0.95s linear infinite;
	animation-delay: -8.55s;
		-o-animation-delay: -8.55s;
		-ms-animation-delay: -8.55s;
		-webkit-animation-delay: -8.55s;
		-moz-animation-delay: -8.55s;
	background-color: #F00;
}
.cssload-dots:nth-child(10):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 0.95s linear infinite;
		-o-animation: cssload-animAfter 0.95s linear infinite;
		-ms-animation: cssload-animAfter 0.95s linear infinite;
		-webkit-animation: cssload-animAfter 0.95s linear infinite;
		-moz-animation: cssload-animAfter 0.95s linear infinite;
	animation-delay: -8.55s;
		-o-animation-delay: -8.55s;
		-ms-animation-delay: -8.55s;
		-webkit-animation-delay: -8.55s;
		-moz-animation-delay: -8.55s;
	background-color: #777;
}




@keyframes cssload-animBefore {
	0% {
		transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-o-keyframes cssload-animBefore {
	0% {
		-o-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-o-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-o-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-o-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-o-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-ms-keyframes cssload-animBefore {
	0% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-ms-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-ms-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-ms-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-webkit-keyframes cssload-animBefore {
	0% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-webkit-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-webkit-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-moz-keyframes cssload-animBefore {
	0% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-moz-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-moz-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-moz-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@keyframes cssload-animAfter {
	0% {
		transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-o-keyframes cssload-animAfter {
	0% {
		-o-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-o-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-o-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-o-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-o-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-ms-keyframes cssload-animAfter {
	0% {
		-ms-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-ms-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-ms-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-ms-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-webkit-keyframes cssload-animAfter {
	0% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-webkit-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-webkit-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-moz-keyframes cssload-animAfter {
	0% {
		-moz-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-moz-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-moz-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-moz-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		transform: translateY(6px) rotate(22.5deg);
	}
	50% {
		transform: translateY(13px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 28px;
	}
	75% {
		transform: translateY(6px) rotate(67.5deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@-o-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		-o-transform: translateY(6px) rotate(22.5deg);
	}
	50% {
		-o-transform: translateY(13px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 28px;
	}
	75% {
		-o-transform: translateY(6px) rotate(67.5deg);
	}
	100% {
		-o-transform: translateY(0) rotate(90deg);
	}
}

@-ms-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		-ms-transform: translateY(6px) rotate(22.5deg);
	}
	50% {
		-ms-transform: translateY(13px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 28px;
	}
	75% {
		-ms-transform: translateY(6px) rotate(67.5deg);
	}
	100% {
		-ms-transform: translateY(0) rotate(90deg);
	}
}

@-webkit-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		-webkit-transform: translateY(6px) rotate(22.5deg);
	}
	50% {
		-webkit-transform: translateY(13px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 28px;
	}
	75% {
		-webkit-transform: translateY(6px) rotate(67.5deg);
	}
	100% {
		-webkit-transform: translateY(0) rotate(90deg);
	}
}

@-moz-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		-moz-transform: translateY(6px) rotate(22.5deg);
	}
	50% {
		-moz-transform: translateY(13px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 28px;
	}
	75% {
		-moz-transform: translateY(6px) rotate(67.5deg);
	}
	100% {
		-moz-transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow {
	0%,
	100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}

@-o-keyframes shadow {
	0%,
	100% {
		-o-transform: scale(1, 1);
	}
	50% {
		-o-transform: scale(1.2, 1);
	}
}

@-ms-keyframes shadow {
	0%,
	100% {
		-ms-transform: scale(1, 1);
	}
	50% {
		-ms-transform: scale(1.2, 1);
	}
}

@-webkit-keyframes shadow {
	0%,
	100% {
		-webkit-transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.2, 1);
	}
}

@-moz-keyframes shadow {
	0%,
	100% {
		-moz-transform: scale(1, 1);
	}
	50% {
		-moz-transform: scale(1.2, 1);
	}
}

a{
    text-decoration:none;
}

.btn {
  display: inline-block;
  padding: 4px 7px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-success {
  color: #fff;
  background-color: #5579af;
  border-color: #eee;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #6B869F;
  border-color: #eee;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

