﻿<%@ Page Title="BankOneMobile::Pending Accounts" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="PendingAccountsToBeCreated.aspx.cs" Inherits="About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <asp:Literal ID="lblResponse" runat="server"></asp:Literal>
    <br />
</asp:Content>
