﻿<%@ Page Title="BankOneMobile::Services" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="Services.aspx.cs" Inherits="About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    &nbsp;<br />
    <asp:Button ID="btnRestartPinResetHSMService" runat="server" Text="Restart Service For Pin Reset" OnClick="btnRestartPinResetHSMService_Click" />
    <br />
    <br />
    <asp:Literal ID="lblResponse" runat="server"></asp:Literal>
    <br />
</asp:Content>
