﻿<%@ page language="C#" autoeventwireup="true" inherits="HttpJavaClient_BankOneService, App_Web_rwqv2t0a" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head id="Head1" runat="server"><title></title></head><body></body></html>