﻿<%@ page language="C#" autoeventwireup="true" inherits="HttpJavaClient_BankOneImageUploadService, App_Web_rwqv2t0a" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head runat="server"><title></title></head><body></body></html>
