﻿<%@ page title="" debug="true" language="C#" masterpagefile="~/BankOneMobileMasterPage.master" autoeventwireup="true" inherits="HttpJavaClient_BankOneService, App_Web_itn551kt" viewstatemode="Disabled" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>