﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BankOneMobileMasterPage.master" AutoEventWireup="true" CodeFile="AgentAccountCreation.aspx.cs" Inherits="AgentManagement_AgentAccountCreation" %>

<%@ Register assembly="AppZoneUI.Framework" namespace="AppZoneUI.Framework" tagprefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<cc1:EntityUIControl ID="EntityUIControl1" runat="server" 
         UIType="BankOneMobile.UI.UI.AgentUI.AgentRegistrationUI,BankOneMobile.UI" >
    </cc1:EntityUIControl>
</asp:Content>


