﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BankOneMobileMasterPage.master" AutoEventWireup="true" CodeFile="UssdBillingConfigurationsList.aspx.cs" Inherits="UssdBillingConfigurationManagement_ViewUssdBillingConfigurations" %>
<%@ Register assembly="AppZoneUI.Framework" namespace="AppZoneUI.Framework" tagprefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<cc1:EntityUIControl ID="EntityUIControl1" runat="server" 
         UIType="BankOneMobile.UI.UI.UssdBillingConfigurationUI.ViewUssdBillingConfigurationUI, BankOneMobile.UI">
    </cc1:EntityUIControl>
</asp:Content>

