﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/BankOneMobileMasterPage.master" CodeFile="ThirdPartyMobileProfileDetails.aspx.cs" Inherits="ThirdPartyMobileProfile_ThirdPartyMobileProfileDetails" %>

<%@ Register assembly="AppZoneUI.Framework" namespace="AppZoneUI.Framework" tagprefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<cc1:EntityUIControl ID="EntityUIControl1" runat="server" 
         UIType="BankOneMobile.UI.UI.ThirdPartyMobile.ThirdPartyMobileDetails,BankOneMobile.UI" >
    </cc1:EntityUIControl>
</asp:Content>



<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>--%>
